body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #F5F5DC;
}

.product-list {
    margin-left: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.4s;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

.product:hover {
    background-color: #f0f0f0; 
}

.product img {
    width: 100%;
    max-height: 150px; 
    object-fit: cover; 
    margin-bottom: 10px; 
}

.add-to-cart {
    outline: none;
    border: 1px solid green; 
    background-color: white;
    color: green; 
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; 
}

.price {
    color: green; 
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: #e5e5e5;
}

.cart {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    margin: 10px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.cart:hover {
    transform: scale(1.02);
}

.cart h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.cart-items {
    padding: 20px;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.remove-button {
    outline: none;
    border: 1px solid #ccc;
    background-color: #ff5733; 
    color: white; 
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 20px 10px 100px; 
}

.remove-button:hover {
    background-color: #e5492f; 
}

.checkout {
    background-color: green;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;
}

.checkout:hover {
    background-color: darkgreen;
}

.navbar {
    background-color: #333;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-item {
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.home {
    text-align: center;
    padding: 2rem;
    color: #333;
}

.home h5 {
    font-size: 24px;
    margin-bottom: 20px;
}

.welcome{
    color: #8B4513;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carousel {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    
}

.carousel-slide {
    display: none;
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
